<div class="well">
  <form id="delete-account-form" action="users/delete" method="post">
    <p id="deleteinfo">
      When deleting your account no personal information (e-mail, name, picture) will be kept on our servers. <br><br>
      Public available snippets and lists will still be accessible, though no reference to your account will be kept. <br><br>
      <span>
        All private snippets will be deleted. <br>
        Deleting an account can not be undone.
      </span>
    </p>
    <input type="submit" id="deleteaccount" class="btn btn-red" value="Delete my account">
  </form>
</div>