<div class="well">
<p>
  We're not yet offering a newsletter, but that is planned for the near future.
  When it's ready we'll let you know via the news section and you'll be able to subscribe right here.
</p>
</div>