<li>1c</li>
<li>actionscript</li>
<li>apache</li>
<li>applescript</li>
<li>armasm</li>
<li>asciidoc</li>
<li>aspectj</li>
<li>autohotkey</li>
<li>avrasm</li>
<li>axapta</li>
<li>bash</li>
<li>brainfuck</li>
<li>cal</li>
<li>capnproto</li>
<li>ceylon</li>
<li>clojure-repl</li>
<li>clojure</li>
<li>cmake</li>
<li>coffeescript</li>
<li>cpp</li>
<li>cs</li>
<li>css</li>
<li>d</li>
<li>dart</li>
<li>delphi</li>
<li>diff</li>
<li>django</li>
<li>dns</li>
<li>dockerfile</li>
<li>dos</li>
<li>dust</li>
<li>elixir</li>
<li>elm</li>
<li>erb</li>
<li>erlang-repl</li>
<li>erlang</li>
<li>fix</li>
<li>fortran</li>
<li>fsharp</li>
<li>gcode</li>
<li>gherkin</li>
<li>glsl</li>
<li>go</li>
<li>gradle</li>
<li>groovy</li>
<li>haml</li>
<li>handlebars</li>
<li>haskell</li>
<li>haxe</li>
<li>http</li>
<li>inform7</li>
<li>ini</li>
<li>java</li>
<li>javascript</li>
<li>json</li>
<li>julia</li>
<li>kotlin</li>
<li>lasso</li>
<li>less</li>
<li>lisp</li>
<li>livecodeserver</li>
<li>livescript</li>
<li>lua</li>
<li>makefile</li>
<li>markdown</li>
<li>mathematica</li>
<li>matlab</li>
<li>mel</li>
<li>mercury</li>
<li>mizar</li>
<li>monkey</li>
<li>nginx</li>
<li>nimrod</li>
<li>nix</li>
<li>nsis</li>
<li>objectivec</li>
<li>ocaml</li>
<li>openscad</li>
<li>oxygene</li>
<li>parser3</li>
<li>perl</li>
<li>pf</li>
<li>php</li>
<li>powershell</li>
<li>processing</li>
<li>profile</li>
<li>prolog</li>
<li>protobuf</li>
<li>puppet</li>
<li>python</li>
<li>q</li>
<li>r</li>
<li>rib</li>
<li>roboconf</li>
<li>rsl</li>
<li>ruby</li>
<li>ruleslanguage</li>
<li>rust</li>
<li>scala</li>
<li>scheme</li>
<li>scilab</li>
<li>scss</li>
<li>smali</li>
<li>smalltalk</li>
<li>sml</li>
<li>sql</li>
<li>stata</li>
<li>step21</li>
<li>stylus</li>
<li>swift</li>
<li>tcl</li>
<li>tex</li>
<li>thrift</li>
<li>tp</li>
<li>twig</li>
<li>typescript</li>
<li>vala</li>
<li>vbnet</li>
<li>vbscript</li>
<li>vbscript</li>
<li>verilog</li>
<li>vhdl</li>
<li>vim</li>
<li>x86asm</li>
<li>xl</li>
<li>xml</li>
<li>zephir</li>