<% include _parts/smallheader %>

<section class="module intro center cns">
  <h1>BACKEND</h1>
</section>

<section class="module">
  
  <div class="backendwrap">
    <h2>Create new news</h2>
    <form name="create-news-form" id="create-news-form" method="post" action="/newstuff/create">
      <input type="text" id="newscontent" name="newscontent">
      <input type="submit" value="submit">
    </form>
  </div>

</section>

<% include _parts/footer %>