<% include _parts/header %>

<section class="module searchterm frontsearch wrap intro home">
  <h1 class="intro">You searched for lists containing</h1>
  <form action="/search" method="post">
    <input name="searchterm" type="search" value="<%= searchterm %>" onfocus="this.value = this.value;">
  </form>
</section>

</div>


<div class="grid lists small clearfix">

        <%
          result.forEach(function(el, index) {
        %>

        <div class="item list">
          <div class="inner">
            <a href="/lists/<%= el._id %>" class="inneritem">
              <div class="listicon"></div>
              <h2><%= el.name.length > 20 ? el.name.substr(0, 17)+"..." : el.name %></h2>
              <p>
              <% if(el.info) {%>
                <%= el.info.length > 80 ? el.info.substr(0, 80) + "..." : el.info %>
              <% } %>
              </p>
            </a>
          </div>
        </div>

        <%
          });
        %>

</div>


</section>

<% include _parts/footer %>