<% include _parts/smallheader %>

<% if(error){ %>
  <span class="login-error"><%= error %></span>
<% } %>


<div class="grid two clearfix loginforms smallwrap">

  <div class="item bright registerpart clearfix">
    <div class="inneritem">
      <h2 class="register-heading">Register</h2>
      <form name="registerform" id="registerform" method="post" action="/register">

        <h3>Username</h3>
        <input type="text" id="username" name="username" required />
        <div class="hint">make sure it's url-friendly - or we do</div>

        <h3>E-Mail</h3>
        <input type="email" id="email" name="email" required/>
        <input type="email" id="email-retype" name="emailretype" required placeholder="Re-Type E-Mail"/>
        <div class="hint">just needed for login - no spam</div>



        <h3>Password</h3>
        <input type="password" id="password" name="password" autocomplete="off" required />
        <div class="hint">anything but your mom’s birthday</div>

        <input type="submit" value="Register"class="btn btn-primary"/>
      </form>
    </div>
  </div>

  <div class="item loginpart clearfix">
    <div class="inneritem">
      <h2 class="login-heading">Login</h2>
      <form name="loginform" id="loginform" method="post" action="/login">
        <h3>E-Mail</h3>
        <input type="email" id="email" name="email" required/>
        <div class="hint"></div>

        <h3>Password</h3>
        <input type="password" id="password" name="password" autocomplete="off" required/>
        <div class="hint"></div>

        <input type="submit" value="Login" class="btn btn-primary"/>
      </form>
      <form name="loginform" id="loginform" method="post" action="/auth/callback">
        <input type="submit" value="Log in with GitHub" class="btn btn-github"/>
      </form>
    </div>
  </div>

</div>

<% include _parts/footer %>