<% include _parts/header %>

<div class="module searchresults intro al-center">
  <h1 class="intro">Search for a snippet</h1>
  <form action="/search" method="post">
    <input name="searchterm" type="search" placeholder="What are you looking for?">
  </form>
</div>

</div>
<% include _parts/footer %>