<% include ../../_parts/smallheader %>



<section class="module middle al-center intro overview">
    <h1>Stuff we use and like</h1>
</section>

</div>

<section class="wrap module docs-wrap innerwrap terms">

<div class="cap">
  <h2>Illustrations</h2>
  <p>
    All credit for those beautiful illustrations used in our header and elsewhere go to <a href="https://www.behance.net/nastifunny" target="_blank">Anastasia Kolisnichenko.</a>
    The entrire pack is publicly available <a href="https://www.dropbox.com/s/g9fvuecdthhtrs0/Elegant%20Vector%20Kit%20-%20for%20Smashing%20Magazine.zip?dl=0" target="_blank">here</a>
    and licensed under a Creative Commons Attribution-ShareAlike 4.0 International license.
  </p>
</div>

<div class="cap">
  <h2>Colors &amp; UI</h2>
  <p>
    A lot of what rawcode looks like is based on an UI Kit named Drunken Parrot
    by Riki Tanone and Paul Kinzett. You can find it over at <a href=" https://hoarrd.com/">Hoarrd!</a>,
    along with more beautiful components they design and build.
  </p>
</div>

<div class="cap">
  <h2>Technologies</h2>
  <p>
    Rawcode's entire ecosystem is built on <a href="https://nodejs.org/">node.js</a>, using express and a bunch of other
    packages, such as passport, mongoose and bcrypt.
    All that is built on top of <a href="https://www.nginx.com/">NGINX</a> and connects to <a href="https://www.mongodb.org/">mongodb</a> and <a href="http://redis.io/">redis</a>.
    Search is powered by <a href="https://www.elastic.co/products/elasticsearch">elasticsearch</a>, which is based on Apache's Lucene and brings you all those snippets in a matter of (milli-)seconds.
  </p>
  <p>
    We're currently running on a single server located in Germany.
  </p>
</div>


</section>


<% include ../../_parts/footer %>