<% include ../../_parts/smallheader %>

<section class="module middle al-center intro overview">
    <h1>About rawcode</h1>
</section>

</div>

<section class="wrap module docs-wrap innerwrap about">
<div class="cap">
<h2>In short</h2>
  <p>
    Rawcode is a place to store, find and use code snippets. <br>
    It was born out of need and lack of modern, efficient and fun solutions that focus on code snippets.
    Snippets are the heart and soul of rawcode and we try our best to give them the home they deserve.
  </p>
</div>
<div class="cap">
  <h2>More detail</h2>
  <p>
  As developers and designers, who write code regularly you probably know the problem of writing code again and again, solving the same problem. On top of that, we tend to forget how we actually solved a problem in the past, forcing us to go back to a certain project to look it up, or even worse, re-write the entire thing.
  </p>
  <p>
  That’s where rawcode can help you!
  </p>
  <p>
  Rawcode aims to be your second brain and backpack when it comes to code snippets.
  </p>
  <p>
  Most importantly we want developers to find and use snippets in a matter of seconds, dragging and pasting them anywhere they need them. Interacting with rawcode and therefore your snippets should be fun and simple, without any essential features missing.
  </p>
  <p>
  Money certainly is on our mind, as scaling might require some cash.
  As long as possible however, we try to keep everything about rawcode completely free.
  </p>
  <p>
  All that being said, we are always happy about feedback, bugreports, feature requests and ideas to improve.
  </p>
  <br>
  <a href="mailto:hi@rawcode.io" class="btn btn-primary">Get in touch</a>

</section>

<% include ../../_parts/footer %>