<% include ../_parts/header %>



<section class="module static docs clearfix">
<div class="innerwrap wrap clearfix">

<h1 class="blue">Documentation</h1>

<div class="leftdocs clearfix">
<div class="infoblock">
  <h2>Core features</h2>
  <ul>
    <li><a href="/documentation/features#snippets">Snippets</a></li>
    <li><a href="/documentation/features#lists">Lists</a></li>
    <li><a href="/documentation/features#search">Search</a></li>
    <li><a href="/documentation/features#interactions">Interactions</a></li>
  </ul>
</div>

<div class="infoblock">
  <h2>Workflow</h2>
  <ul>
    <li><a href="/documentation/workflow#keys">Key-Bindings</a></li>
    <li><a href="/documentation/workflow#settings">Personal settings</a></li>
    <li><a href="/documentation/workflow#extension">Chrome extension</a></li>
    <li><a href="/documentation/workflow#bookmarklet">Bookmarklet</a></li>
  </ul>
</div>

<div class="infoblock">
  <h2>API</h2>
  <ul>
    <li><a href="documentation/api#getsnippets">Get last 10 Snippets for user</a></li>
    <li><a href="documentation/api#getlists">Get last 10 Lists for user</a></li>
    <li><a href="documentation/api#search">Search all snippets</a></li>
  </ul>
</div>

<div class="infoblock">
  <h2>Other</h2>
  <ul>
    <li><a href="documentation/other#embedding">Embedding</a></li>
    <li><a href="documentation/other#download">Download Snippets</a></li>
    <li><a href="documentation/other#urls">URL Schema</a></li>
  </ul>
</div>

</div>

<div class="rightdocs">
  <div class="browsersupport">
    <h3>Browser support</h3>
    <p>
      At the moment JavaScript is required to guarantee every aspect of the app
      is working. On top of that support for old browsers is very limited!
    </p>
    <br>
    <ul>
      <li>Chrome 42+</li>
      <li>Firefox 41+</li>
      <li>Safari ?</li>
      <li>IE 9+</li>
      <li>Opera 29+</li>
    </ul>
  </div>
</div>



</div>
</div>
</section>

<% include ../_parts/footer %>