<% include ../_parts/smallheader %>

</div>

  <section class="module wrap al-center intro overview">
    <h1>Core-Features</h1>
  </section>


<section class="module docs-wrap innerwrap wrap">

  <div class="cap">
    <a href="#" class="sectiona" name="snipets">Snippets</a>
    <p>
      Snippets are the heart and soul of rawcode. They are reusable pieces of code that can be
      applied to new projects quickly. They also enable you to rapidly build small prototypes/demos on sites
      like <a href="https://codepen.io">codepen</a>. Snippets must have a name and the actual code as their content.
      It is optional to give them tags, a specified language and additional info.
      Additional info can vary a lot, depending on how <b>you</b> want to use it. One usecase may be
      further linking to a question, answer blogpost or problem that the snippet refers to. Also if there are
      known bugs or issues, additional info is the place to talk about that.
    </p>
  </div>

  <div class="cap">
    <a href="#lists" class="sectiona" name="lists">Lists</a>
    <p>
      Lists are collections of snippets and can contain an unlimited number of snippets. Lists will appear on the right-side
      of your screen, when you click the list icon or drag a snippet around. Lists must have a name and a description, outlining
      what the snippets in the list are all about. Generally lists are a good place to store snippets taht have something in common.
      Say all snipptes are related to Wordpress or all are CSS fixes, etc.
    </p>
    <p>
      When viewing a single list, you have the option to only search snippets that are in this list.
    </p>
    <p>
      We are currently working on a collaboration mode that let's multiple users add snippets to the same list. Stay tuned for that.
    </p>
  </div>

  <div class="cap">
    <a href="#search" class="sectiona" name="search">Search</a>
    <p>
      Our search looks at a snippet's title, tags, language, description and content. Giving your snippets unique tags and precise descriptions gives you
      the ability to narrow down a search as the amount of snippets grows. Our search has a certain fuzziness, which means you can have small typos. This
      is however very limited, as it makes search queries rather expensive (database-wise) and also returns less relevant results at some point.
      Generally there are different scopes in which you can search for private and public lists and snippets:
      <ul>
        <li>All snippets</li>
        <li>Only your snippets</li>
        <li>Snippets in one certain list</li>
        <div class="seperatorli"></div>
        <li>All lists</li>
        <li>Only your lists</li>
      </ul>
    </p>
    <p>
      The general search which can be called from anyhwere (alt + space) searches the entire snippet database.
    </p>
  </div>

  <div class="cap">
    <a href="#interactions" class="sectiona" name="interactions">Interactions</a>
    <p>
      To get the most out of rawcode it is worth knowing a few details, if you haven't figured them out yet:
      <ul>
        <li>When viewing a single snippet <span class="keybin">cmd + c</span> will automatically copy it to your clipboard</li>
        <li>You can drag snippets right into any code editor, like Sublime text or Atom, grabbing it by the <span class="handsymbol"></span> symbol.</li>
        <li>When you drag a snippet onto your Desktop it will create a clipping (OS X)</li>
        <li>You can drag snippets between browser windows</li>
        <li>You can change the highlighting theme in your personal settings. This will affect every snippet.</li>
      </ul>

    </p>
  </div>


  </div>
</section>

<% include ../_parts/footer %>