<% include ../_parts/smallheader %>
</div>


  <section class="module wrap al-center intro overview">
    <h1>Other features</h1>
  </section>


<section class="module docs-wrap innerwrap wrap">

  <div class="cap">
    <a href="#embedding" class="sectiona" name="snipets">Embedding</a>
    <p>Currently in development.</p>
  </div>

  <div class="cap">
    <a href="#download" class="sectiona" name="snipets">Download snippets</a>
    <p>Currently in development.</p>
  </div>

  <div class="cap">
    <a href="#urls" class="sectiona" name="snipets">URL Schema</a>
    <p>Currently in development.</p>
  </div>


</section>

<% include ../_parts/footer %>