<% include ../_parts/smallheader %>

</div>
<div class="module wrap al-center intro overview">
  <h1>Workflow</h1>
</div>


<section class="module docs-wrap innerwrap wrap">

  <div class="cap">
    <a href="#keys" class="sectiona" name="keys">Keybindings</a>
    <p>
      Rawcode uses a couple of keybindings to make your experience as efficient as possible.
      Most of them will come natural to you, but we have plans to even let you customize
      keybindings to your needs in the future.
    </p>

    <table class="docstable">
      <!-- <tr>
        <td>alt + c</td>
        <td>copies the current snippet to your clipboard (in snippet-view)</td>
      </tr> -->
      <tr>
        <td>alt + n</td>
        <td>create a new snippet (from anywhere)</td>
      </tr>
      <tr>
        <td>alt + space</td>
        <td>open global search (from anywhere)</td>
      </tr>
    </table>
  </div>

  <div class="cap">
    <a href="#settings" class="sectiona" name="settings">Personal settings</a>
    <p>
      Developer-setups can be very different, which is why there are a few settings you can change to
      your liking, so you feel more at home when using rawcode.
      <ul>
        <li>Different syntax highlighting</li>
        <li>Different font and font size for snippets</li>
      </ul>
    </p>
    <p>
      There are more settings planned, stay tuned for updates.
    </p>
  </div>

  <div class="cap">
    <a href="#extension" class="sectiona" name="extension">Chrome extension</a>
    <p>Currently in development.</p>
    <!-- <p>
      Our chrome extension is like a giant backpack, allowing you to take your snippets with you,
      wherever on the web you go. You get the full-fledged search of your own and all snippets available on rawcode,
      as well as the ability to just drag 'em on the page you're currently working on.
    </p>
    <p>
      This is especially useful on sites like <a href="https://codepen.io">codepen</a> or <a href="https://jsfiddle.com">jsfiddle</a>
      where you can easily drag your snippets into the editor.
    </p>
    <p>
      You are however not limited to that. You can drag the snippets literally everywhere you can type.
      Just some examples to boost your creatvity: SQL Queries in phpMyAdmin, GitHub, Stackoverflow answers, ...
    </p>
    <p>
      You can also easily create snippets with the extension, by just selecting the code you want to snip
      and clicking the "create snippet" button. You'll then be transferred to rawcode, with the content already pre-filled.
    </p> -->
  </div>

  <div class="cap">
    <a href="#bookmarklet" class="sectiona" name="bookmarklet">Bookmarklet</a>
    <p>Currently in development.</p>
    <!-- <p>
      The bookmarklet is like our chrome-extensions' little brother at the moment.
      You can use it to create snippets, by selecting code you want to snip and just clicking it.
      You will be redirected to rawcode, with the content already pre-filled.
    </p> -->
  </div>

</section>






<% include ../_parts/footer %>

