<% include ../_parts/smallheader %>

</div>

<div class="module middle al-center intro overview">
    <h1>Impressum</h1>
</div>

<section class="module static impressum">
  <div class="innerwrap wrap">
    <p>
    <span class="rwcd">rawcode.io</span>
    <br><br>
    Benjamin Mann<br>
    Altmühstraße 16<br>
    33689 Sennestadt<br>
    E-Mail: <a href="mailto:hi@rawcode.io">hi@rawcode.io</a>
    <br><br>
    </p>
    <p>
    Inhaltlich verantwortlich gemäß § 55 Abs. 2 RStV:<br>
    Benjamin Mann, Anschrift siehe oben<br><br>
    </p>
    <p>Die Verwendung der Kontaktdaten zu gewerblichen <br>Zwecken ist ausdrücklich nicht erwünscht.</p>




  </div>  
</section>

<% include ../_parts/footer %>