<% include ../_parts/header %>
  <section class="module wrap al-center intro overview center al-center">
    <h1>rawcode is a place to store and find code snippets</h1>
    <a href="/login" class="btn btn-red introbtn">sign up</a>
    <div class="itsfree">it's free!</div>
  </section>

</div>


  <section class="singlefeature snippets clearfix">
    <div class="leftside">
      <h1>Snippets</h1>
      <span>Snippets are the heart and soul of rawcode. They are reusable pieces of code that can be applied to new projects quickly.</span>
      <img src="img/intro/snippet@2x.png" width="80%" height="auto" alt="rawcode snippet">
      <ul>
        <li>drag and drop everywhere</li>
        <li>snippets can be public or private</li>
        <li>tag your snippets to find them quicker</li>
      </ul>
    </div>
    <div class="rightside">
      <img src="img/intro/drop@2x.png" width="100%" height="auto" alt="Drag snippets anywhere">
    </div>
  </section>

  <section class="singlefeature lists clearfix">
    <div class="leftside">
      <h1>Lists</h1>
      <span>Lists are collections of snippets and can contain an unlimited number of snippets. Lists will appear on the right-side of your screen, when you click the list icon or drag a snippet around. </span>
      <ul>
        <li>make lists to store snippets per project</li>
        <li>search lists to find multiple snippets on a subject</li>
        <li>add any snippet to your lists, even those you don't own</li>
      </ul>
    </div>
    <div class="rightside">
      <img src="img/intro/lists@2x.png" width="80%" height="auto" alt="Bundle multiple snippets into lists">
    </div>
  </section>

  <section class="singlefeature clearfix">
    <div class="leftside">
      <h1>Search</h1>
      <span>Fulltext search on the most important parts of a snippet allows us to find releveant results quickly. Adding tags makes this even more efficient for you.</span>
      <ul>
        <li>you set the scope:</li>
        <li>search private snippets/lists or public ones</li>
        <li>search just your snippets or all snippets</li>
      </ul>
    </div>
    <div class="rightside">
      <img src="img/intro/searchshot@2x.png" width="100%" height="auto" alt="Search for snippets in a matter of seconds">
    </div>
  </section>

  <section class="singlefeature github clearfix">
    <div class="leftside">
      <h1>Import from GitHub</h1>
      <span>You can import all your Gists right into rawcode with one single click. Private Gists become private snippets and public ones stay public.</span>
      <ul>
        <li>private Gists stay private, public ones stay public</li>
        <li>importing again will overwrite your snippets  with the changes you made on GitHub</li>
      </ul>
    </div>
    <div class="rightside">
      <img src="img/intro/githubmask@2x.png" width="50%" height="auto" alt="Import your Gists right into rawcode" style="margin-left: 200px;">
    </div>
  </section>

  <section class="singlefeature clearfix">
    <div class="leftside">
      <h1>More to come!</h1>
    </div>
    <div class="rightside">
    </div>
  </section>



<% include ../_parts/footer %>