<% include ../_parts/smallheader %>

</div>

<div class="module middle al-center intro overview">
    <h1>Datenschutz / Privacy</h1>
</div>


<section class="wrap module docs-wrap innerwrap terms">




<table class="termstable">
<tr>
  <th>Legally binding</th>
  <th>English</th>
</tr>
  <tr>
    <td>
      Der Schutz persönlicher Daten wird von mir, Benjamin Mann, als Webseitenbetreiber sehr ernst
      genommen und ich halte mich an die einschlägigen gesetzlichen Vorschriften. Die nachfolgende
      Erklärung informiert Sie darüber, welche Art von personenbezogenen Daten zu welchem Zweck auf
      dieser Webseite erhoben werden und in welchem Maße diese Daten Dritten zugänglich gemacht
      werden.
    </td>
    <td>
      We care a lot about privacy and security: <br>
      <b>Your data will never be shared or sold to anybody.</b> <br>
    </td>
  </tr>
</table>

<a href="#" class="sectiona">Log-Dateien</a>
<table class="termstable">
<tr>
  <th>Legally binding</th>
  <th>English</th>
</tr>
  <tr>
    <td>
      In den Serverstatistiken werden automatisch solche Daten gespeichert, die der Browser an die Webseite
      übermittelt, um Ihnen den Besuch der Website zu ermöglichen (sogenannte „logfiles“).
      Dies sind im Einzelnen folgende Daten:
      </p>
      <ul>
      <li>Sprache und Version der Browsersoftware</li>
      <li>verwendetes Betriebssystem und dessen Oberfläche</li>
      <li>Referrer URL (die zuvor besuchte Seite)</li>
      <li>Hostname des zugreifenden Rechners (IP- Adresse)</li>
      <li>Datum und Uhrzeit der Serveranfrage</li>
      <li>Zeitzonendifferenz zur Greenwich Mean Time (GMT)</li>
      <li>Inhalt der Anforderung (konkrete Seite)</li>
      <li>übertragene Datenmenge</li>
      <li>Zugriffsstatus/ HTTP- Statuscode.</li>
      </ul>
      <p>
      Diese Daten können in der Regel nicht bestimmten Personen zugeordnet werden. Eine
      Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. Die Daten werden
      zudem nach einer statistischen Auswertung innerhalb von 4 Wochen gelöscht.
      Diese Daten werden nur für statistische Auswertungen zum Zweck des Betriebs, der Sicherheit und
      Optimierung des Angebotes auf der Webseite verwendet.
      </p>
    </td>
    <td>
      We track some stuff and may write it into logfiles. Basically everything your Browser
      sends to our server. Those logs don't live very long - 4 weeks max.
    </td>
  </tr>
</table>


<a href="#" class="sectiona">Weitere personenbezogene Daten bei Nutzung der Webseite</a>
<table class="termstable">
<tr>
  <th>Legally binding</th>
  <th>English</th>
</tr>
  <tr>
    <td>
      <p>
      Die von Ihnen zur Verfügung gestellten personenbezogenen Daten, wie Name, Adresse oder E-Mail-
      Adresse werden nur intern verwendet, um Ihre Anfragen zu beantworten, Ihre Aufträge zu bearbeiten
      oder Ihnen Zugang zu bestimmten Informationen zu verschaffen.
      Bei Ihrer Kontaktaufnahme mit dem Webseitenbetreiber per E-Mail oder über das Kontaktformular
      werden Ihre Angaben von dem Webseitenbetreiber gespeichert, um Ihre Fragen zu beantworten.
      </p>
    </td>
    <td>
      We only use your data internally. <br>
      <b>Your data will never be shared or sold to anybody.</b> <br>
      We might keep E-Mails etc. for future requests.
    </td>
  </tr>
</table>


<a href="#" class="sectiona">Datenweitergabe an Dritte; Zweck&shy;änderung</a>
<table class="termstable">
<tr>
  <th>Legally binding</th>
  <th>English</th>
</tr>
  <tr>
    <td>
      <p>
      An Dritte werden Daten nur weitergegeben, wenn dies zur Vertragserfüllung notwendig ist und/oder ich
      im Einzelfall dazu gesetzlich verpflichtet bin.
      Teilweise bediene ich mich externer Dienstleister, um Ihre Daten zu verarbeiten. Soweit diese
      Dienstleister in den USA ihren Sitz haben, wird Ihnen dies im Zusammenhang mit der jeweiligen
      Funktion mitgeteilt.
      <br>
      Sollen Ihre Daten für andere Zwecke verwendet werden, werden Sie zuvor informiert und die Daten nur
      verwendet, soweit Sie vorher ausdrücklich Ihre Einwilligung dazu erklärt haben.
      </p>
    </td>
    <td>
      We will only ever give your data away to a third-party if we are required by law. <br>
      If we use third-party services you will know about it (authorize with them).
    </td>
  </tr>
</table>


<a href="#" class="sectiona">Cookies</a>
<table class="termstable">
<tr>
  <th>Legally binding</th>
  <th>English</th>
</tr>
  <tr>
    <td>
      <p>
      Diese Seite verwendet Cookies. Cookies sind kleine Textdateien, die auf Ihrem Rechner gespeichert
      werden und durch welche die Stelle, die den Cookie setzt, bestimmte Informationen zufließen. Sie
      dienen dazu das Internetangebot nutzerfreundlicher und effektiver zu gestalten oder/und Ihnen die
      Navigation auf der Webseite zu erleichtern.
      Diese Seite nutzt Cookies in folgendem Umfang:
      </p>
      <ul>
      <li>Transiente Cookies (temporärer Einsatz)</li>
      <li>Persistente Cookies (zeitlich beschränkter Einsatz)</li>
      <li>Third_ Party- Cookies (von Drittanbietern)</li>
      <li>Flash- Cookies (dauerhafter Einsatz)</li>
      </ul>
      <p>
      Transient Cookies werden automatisiert gelöscht, wenn Sie den Browser schließen. Dazu zählen
      insbesondere die Session- Cookies. Diese speichern eine sogenannte Session- ID, mit welcher sich
      verschiedene Anfragen Ihres Browsers der gemeinsamen Sitzung zuordnen lassen. So kann Ihr
      Rechner wiedererkannt werden, wenn Sie auf diese Seite wiederkehren.
      </p>
      <p>
      Die auf Ihrem Rechner abgelegten Persistant Cookies werden automatisiert nach einer vorgegebenen
      Dauer gelöscht, die sich je nach Cookies unterscheiden kann.
      </p>
      <p>
      Selbstverständlich können Sie die Website auch nutzen, ohne dass Sie Cookies akzeptieren. Sie
      können auch Ihre Browser- Einstellungen entsprechend Ihren Wünschen konfigurieren und insgesamt
      z.B. die Annahme von Third- Party- Cookies oder allen Cookies ablehnen oder bereits gespeicherte
      Cookies löschen. Sollten Sie Cookies nicht akzeptieren, beachten Sie bitte, dass in diesem Fall das
      Angebot der Webseite unter Umständen nicht fehlerfrei funktioniert.
      Welche Funktion auf der Webseite Cookies setzt, erfahren Sie weiter unten bei den einzelnen
      Funktionen.
      </p>
      <p>
      Die gespeicherten Informationen werden getrennt von eventuell weiter angegebenen Daten
      gespeichert. Die Daten der Cookies werden nicht mit Ihren weiteren Daten verknüpft
      </p>
    </td>
    <td>
      We use cookies. However apart from some choloclate chips, those don't contain any personal data.
      You can delete them by cleaning your browser history - but you probably knew that.
    </td>
  </tr>
</table>


<div class="cap">
Es wird auf der Webseite folgenden Dienst eingesetzt, durch den nach meinem derzeitigen
Wissensstand wie folgt Daten erhoben, gespeichert und verarbeitet werden. Es wird darauf
hingewiesen, dass ich auf Dritte, die Ihre Daten verarbeiten keinerlei Einfluss auf die dortige
Datenverarbeitung habe und verlasse mich auf die Aussagen der jeweiligen Drittanbieter.
</div> 




<a href="#" class="sectiona">Google Analytics</a>
<table class="termstable">
<tr>
  <th>Legally binding</th>
  <th>English</th>
</tr>
  <tr>
    <td>
     <p>
      Diese Website benutzt Google (Universal) Analytics, einen Webanalysedienst der Google Inc.,1600
      Amphitheatre Parkway Mountain View, CA 94043, USA („Google“). Google Analytics verwendet sog.
      „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der
      Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über
      Ihre Benutzung dieser Website (einschließlich Ihrer IP-Adresse) werden an einen Server von Google in
      den USA übertragen und dort gespeichert.
      </p>
      <p>
      Ich weise darauf hin, dass diese Website Google Analytics mit der Erweiterung „_anonymizeIp()“
      verwendet und daher IP- Adressen von Google in Mitgliedstaaten innerhalb der Europäischen Union
      oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum vor der
      Übertragung gekürzt werden, um so einen direkten Personenbezug auszuschließen. Nur in
      Ausnahmefällen wird die volle IP- Adresse an einen Server von Google in den USA übertragen und
      dort gekürzt.
      </p>
      <p>
      Im Auftrag des Anbieters wird Google diese Informationen benutzen, um Ihre Nutzung der Website
      auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und
      um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen.
      Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich
      vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in
      keinem Fall Ihre IP-Adresse mit anderen Daten von Google in Verbindung bringen.
      </p>
      <p>
      Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und Nutzung der Daten durch
      Google sowie Ihre diesbezüglichen Rechte und Einstellungsmöglichkeiten zum Schutz Ihrer
      Privatsphäre entnehmen Sie bitte den Datenschutzhinweisen von Google unter
      http://www.google.de/intl/de/policies/privacy/?hl=de sowie speziell für Google Analytics unter
      https://www.google.com/policies/privacy/partners/?hl=de und unter
      https://support.google.com/analytics/answer/6004245?hl=de
      sowie für Universal Analytics unter https://support.google.com/analytics/answer/2838718?hl=de
      Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten
      durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck
      einverstanden.
      </p>
      <p>
      Der Datenerhebung und -speicherung durch Google kann für das jeweilige Endgerät jederzeit mit
      Wirkung für die Zukunft im Zusammenhang mit der Nutzung widersprochen werden. <a href="http://tools.google.com/dlpage/gaoptout?hl=de">Das Add-on</a>
      ist bislang für Internet
      Explorer (7 und 8), Google Chrome (4.x und höher), Mozilla Firefox (3.5 und höher), Safari und Opera
      verfügbar.
      </p>
      <p>
      Sie können die Erfassung durch Google Analytics auch verhindern, indem Sie auf folgenden Link
      klicken. Es wird ein Opt-Out-Cookie gesetzt, der die zukünftige Erfassung Ihrer Daten beim Besuch
      dieser Website mit diesem Endgerät verhindert:
      </p>
      <p>
        <a href="javascript:gaOptout()">Google Analytics deaktivieren</a>
      </p>
      <p class="blue">
      Achtung: Wenn Sie ihre Cookies löschen, so hat dies zur Folge, dass auch das Deaktivierungs-Cookie
      gelöscht wird und von Ihnen erneut abgelegt werden muss.
      </p>
    </td>
    <td>
      We use Google Analytics to track some stuff anonymously. This is mainly just for pageviews and
      cannot be matched with a certain user. You can even tell us not to track you at all, by clicking <a href="javascript:gaOptout()">here</a>.
    </td>
  </tr>
</table>



<a href="#" class="sectiona">Kommentar- Funktion</a>
<table class="termstable">
<tr>
  <th>Legally binding</th>
  <th>English</th>
</tr>
  <tr>
    <td>
      <p>
      In dem Blog können Sie öffentliche Kommentare abgeben. Wenn Sie einen Kommentar einreichen,
      wird dieser bei dem entsprechenden Beitrag mit dem von Ihnen angegebenen Nutzernamen, dem
      Datum und der Uhrzeit für jeden sichtbar angezeigt. Ihre E-Mail-Adresse wird nicht veröffentlicht.
      </p>
      <p>
      Nutzername und E- Mail- Adresse sind Pflichtangaben. Die Angabe weiterer Daten ist freiwillig. Wenn
      Sie einen Kommentar abschicken, wird intern neben den von Ihnen angegebenen Daten auch Ihre IPAdresse
      gespeichert. Dies beruht darauf, dass ich unter Umständen für die Veröffentlichung
      widerrechtlicher Inhalte haften kann. Die Kommentare werden vor Veröffentlichung nicht geprüft.
      </p>
    </td>
    <td>
      When making a comment (blog, elsewhere), will be publically available. <br>
      When commenting on the blog, your IP will be logged (WordPress).
    </td>
  </tr>
</table>


<a href="#" class="sectiona">Auskunft, Berichtigung, Sperrung, Löschung</a>
<table class="termstable">
<tr>
  <th>Legally binding</th>
  <th>English</th>
</tr>
  <tr>
    <td>
      <p>
      Ich gebe gerne Auskunft über Ihre bei mir gespeicherten persönlichen Daten, sowie zu deren Herkunft,
      Empfängern oder Kategorien von Empfängern, an die diese Daten weitergegeben werden und den
      Zweck der Speicherung. Dieses Recht können Sie jederzeit geltend machen sowie gegebenenfalls ein
      Recht auf Berichtigung, Sperrung und Löschung Ihrer Daten. Senden Sie hierzu eine Anfrage per EMail
      und verwenden Sie bitte in der Betreffzeile den Betreff "Datenschutz".
      </p>
      <p>
      Diese Datenschutzerklärung wurde von der <a href="https://www.kanzlei-sieling.de/">Rechtsanwaltskanzlei Sieling</a> – Fachanwaltskanzlei für ITRecht
      - zur Verfügung gestellt.
      </p>
    </td>
    <td>
      You may ask what data we have in store about you and we'll let you know. <br>
      However we only have what you supply anyway. <br>
      You can also request to have all data we have about you be deleted.
    </td>
  </tr>
</table>






</section>

<% include ../_parts/footer %>
