<% include ../_parts/smallheader %>

</div>

<div class="module middle al-center intro overview">
    <h1>Nutzungsbedingungen / Terms of service</h1>
</div>


<section class="wrap module docs-wrap innerwrap terms">

<a href="#" class="sectiona">§ 1 Anwendungsbereich</a>
<table class="termstable">
<tr>
  <th>Legally binding</th>
  <th>English</th>
</tr>
  <tr>
    <td>
      (1) Folgende Nutzungsbedingungen sind Bestandteil aller Nutzungsverhältnisse zwischen Herrn
      Benjamin Mann, (nachfolgend „Anbieter“ genannt) und dem Nutzer, die über das Portal
      www.rawcode.io geschlossen werden.
      (2) Nutzer im Sinne der hier vorliegenden Regelungen sind sowohl Verbraucher als auch Unternehmer.
    </td>
    <td>
      By using rawcode and being a member you agree to the following terms.
    </td>
  </tr>
</table>



<a href="#" class="sectiona">§ 2 Leistungen, Vertragsgegenstand</a>
<table class="termstable">
<tr>
  <th>Legally binding</th>
  <th>English</th>
</tr>
  <tr>
    <td>
    <p>
    (1) Der Anbieter ermöglicht dem Nutzer die Nutzung einer Datenbank als Dienstleistung, mit der der
      Nutzer Teile von von ihm erstellten Programmiercode (Snippets) online darstellen, speichern und
      veröffentlichen kann. Der Nutzer kann ebenfalls nach Snippets von anderen Nutzern auf der Plattform
      suchen und diese im Rahmen der Lizenzbedingungen verwenden. Für die Datenbank stellt der Anbieter
      auch Speicherplatz im Internet zur Verfügung. Eine Übergabe der Datenbank-Software ist zu keinem
      Zeitpunkt Vertragsbestandteil.
      </p>
      <p>
      (2) Der Anbieter stellt folgende Leistungen zur Verfügung:
      (2.1) Der Nutzer hat die Möglichkeit auf der Plattform von ihm erstellten Programmiercode
      hochzuladen und in der Datenbank der Plattform abzuspeichern. Jeglicher vom Nutzer auf der
      Plattform hochgeladener und veröffentlichter Code wird unter die MIT - Lizenz gestellt:
      </p>
      <code>
      „Copyright (c) <Jahr> <Copyrightinhaber>
      Hiermit wird unentgeltlich jeder Person, die eine Kopie der Software und der zugehörigen
      Dokumentationen (die "Software") erhält, die Erlaubnis erteilt, sie uneingeschränkt zu benutzen,
      inklusive und ohne Ausnahme dem Recht, sie zu verwenden, kopieren, ändern, fusionieren,
      verlegen, verbreiten, unterlizenzieren und/oder zu verkaufen, und Personen, die diese Software
      erhalten, diese Rechte zu geben, unter den folgenden Bedingungen:
      Der obige Urheberrechtsvermerk und dieser Erlaubnisvermerk sind in allen Kopien oder Teilkopien
      der Software beizulegen. <br><br>
      <b>
      DIE SOFTWARE WIRD OHNE JEDE AUSDRÜCKLICHE ODER IMPLIZIERTE GARANTIE BEREITGESTELLT,
      EINSCHLIESSLICH DER GARANTIE ZUR BENUTZUNG FÜR DEN VORGESEHENEN ODER EINEM
      BESTIMMTEN ZWECK SOWIE JEGLICHER RECHTSVERLETZUNG, JEDOCH NICHT DARAUF
      BESCHRÄNKT. IN KEINEM FALL SIND DIE AUTOREN ODER COPYRIGHTINHABER FÜR JEGLICHEN
      SCHADEN ODER SONSTIGE ANSPRÜCHE HAFTBAR ZU MACHEN, OB INFOLGE DER ERFÜLLUNG EINES
      VERTRAGES, EINES DELIKTES ODER ANDERS IM ZUSAMMENHANG MIT DER SOFTWARE ODER
      SONSTIGER VERWENDUNG DER SOFTWARE ENTSTANDEN.“</b> <br><br>
      </code>
      Der Nutzer erklärt sich damit einverstanden.
      <p>
      (2.2) Jeder Nutzer kann auf der Plattform die Datenbank und damit sämtlich von anderen Nutzern
      hochgeladene und veröffentlichte Snippets durchsuchen und gemäß der Lizenzbestimmung aus Ziffer
      2.1 verwenden.
      </p>
      <p>
      (2.3) Der Nutzer hat die Möglichkeit auf der Plattform des Anbieters durch Registrierung ein
      kostenfreies Nutzerkontos zu erstellen. In dem Nutzerkonto kann der Nutzer ein eigenes Profil anlegen
      und nach seinen Wünschen seine Profildaten eingeben und unter seinem Profil Snippets hochladen
      und Listen über mehrere zusammengehörige Snippets erstellen. Der Nutzer kann ebenfalls „private
      Snippets“ anlegen und diese ohne Veröffentlichung verwalten und speichern. Diese privaten Snippets
      unterliegen nicht der Lizenz unter Ziffer 2.1 und sind nicht öffentlich - sondern nur für den jeweiligen
      Nutzer in seinem Profil - sichtbar.

      <p>
      Der Nutzer hat die im Registrierungsformular abgefragten Daten vollständig und korrekt anzugeben,
      wenn und soweit diese nicht als freiwillige Angaben gekennzeichnet sind. Die Angabe von
      Künstlernamen, Pseudonymen oder sonstigen Phantasiebezeichnungen im Rahmen der
      Personennameabfrage ist nicht gestattet. Sofern sich die erhobenen Daten nach der Registrierung
      ändern, ist der Nutzer verpflichtet, sein Profil unverzüglich dahingehend zu aktualisieren oder aber
      dem Anbieter die geänderten Daten anderweitig zu übermitteln.
      Der Nutzer muss sein Passwort für das Nutzerkonto geheim halten und den Zugang zu seinem Konto
      sorgfältig sichern. Der Nutzer ist verpflichtet, den Anbieter umgehend zu informieren, wenn es
      Anhaltspunkte dafür gibt, dass ein Nutzerkonto von Dritten missbraucht wurde.
      (2.4) Für die weitere Beschreibung weiterer Varianten und Leistungen und den jeweiligen
      Funktionsumfang gelten die Darstellungen auf der Webseite des Anbieters und die jeweiligen
      Vereinbarungen zwischen den Parteien.
      </p>
    </td>
    <td>
      Public snippets and lists are <a href="/license">MIT licensed</a>. Everybody can see, search and use them.
      Any content uploaded to rawcode that is not compliant with this license is subject to removal.<br><br>
      User accounts are free, your data is your responsibility. <br><br>
      If you forgot / lost your password or your account got hacked, <a href="mailto:hi@rawcode.io">let us know right away</a>. <br><br>
      Don't copy rawcode. <br> <br>
      Don't lie in the sign-up form.
    </td>
  </tr>
</table>



<a href="#" class="sectiona">§ 3 Vertragsschluss</a>
<table class="termstable">
<tr>
  <th>Legally binding</th>
  <th>English</th>
</tr>
  <tr>
    <td>
      (1) Sofern der Vertrag über die Webseite des Anbieters geschlossen wird gilt: Die auf der Webseite
      dargestellten Nutzungsansgebote stellen ein Angebot im juristischen Sinne dar. Mit der Registrierung
      bzw. Speicherung der Snippets in der Datenbank erklärt der Nutzer verbindlich seine Vertragsannahme
      zur Nutzung einer Datenbank auf der Plattform. Eingabefehler können vor Absenden der Registrierung
      bzw. Speicherung mittels der üblichen Tastatur- und Mausfunktionen berichtigt werden. Mit Mausklick
      auf den die Registrierung oder Speicherung abschließenden Button unterbreitet der Nutzer seinen
      verbindlichen Vertragswillen. Nach Eingang der Registrierung des Nutzers beim Anbieter wird der
      Vertrag ausdrücklich dem Nutzer per E-Mail oder anderer bestätigender Nachricht bestätigt.
      </p>
      <p>
      (3) Der Vertragstext wird vom Anbieter gespeichert und der Nutzer hat über die Webseite des
      Anbieters Zugang hierzu.
      </p>
    </td>
    <td>
      By using rawcode (saving snippets) you agree to our terms and license.
    </td>
  </tr>
</table>


<a href="#" class="sectiona">§ 4 Urheber- und Nutzungsrecht</a>
<table class="termstable">
<tr>
  <th>Legally binding</th>
  <th>English</th>
</tr>
  <tr>
    <td>
      <p>
      (1) Das Urheber- und ausschließliche Nutzungsrecht für veröffentlichte, von dem Anbieter erstellte
      Objekte (Internetseiten, Scripts, Programme, Grafiken) bleibt allein bei dem Anbieter.
      </p>
      <p>
      (2) Der Nutzer erhält mit Vertragsschluss über die Nutzung der Datenbank ein einfaches, räumlich
      unbegrenztes Recht, die Datenbank nach dem im Vertrag vereinbarten Umfang für ausschließlich
      eigene Zwecke für die Dauer des Vertrages zu nutzen. Weitergehende Rechte, insbesondere zur
      Vervielfältigung über das für die vertragsgemäße Nutzung notwendige Maß hinaus, werden nicht
      eingeräumt.
      Etwaige Rechte aus §§ 69 d Abs. 2 und 3, 69 e UrhG bleiben unberührt.
      </p>
      <p>
      (3) Eine Vervielfältigung oder Verwendung von Elementen der Datenbank – mit Ausnahme der von
      Nutzern gespeicherten Snippets - in anderen elektronischen oder gedruckten Publikationen,
      insbesondere auf anderen Internetseiten, ist ohne ausdrückliche Zustimmung des Anbieters nicht
      gestattet. Das umfassende Urheberrecht und ausschließliche Nutzungsrecht mit allen Befugnissen
      nach den §12 bis §27 UrhG an allen im Rahmen der Vertragsanbahnung und einschließlich
      Gewährleistung und Wartung erstellten Unterlagen, Informationen und Vertragsgegenstände steht
      ausschließlich dem Anbieter zu, es sei denn, es ist schriftlich anders vereinbart.
      </p>
      <p>
      (4) Der Zugang des Nutzers zur Datenbank ist abhängig von der Verbindung über das Internet, für die
      der Nutzer verantwortlich ist.
      </p>
      <p>
      (5) Der Anbieter ist berechtigt, aufgrund von Wartungsarbeiten und aus anderen wichtigen Gründen
      die dauerhafte Nutzung zu unterbrechen und die Datenbank bzw. Inhalte zu löschen.
      </p>
    </td>
    <td>
      Don't copy (parts of) rawcode without written permission. <br><br>
      Our service might not work without an internet-connection, browser etc. <br><br>
      We might go down for maintanence or other reasons. We also have the right to go crazy and remove any content
      or even the database itself.
    </td>
  </tr>
</table>


<a href="#" class="sectiona">§ 5 Durchführung der Leistung, Verantwortlichkeit</a>
<table class="termstable">
<tr>
  <th>Legally binding</th>
  <th>English</th>
</tr>
  <tr>
    <td>
      <p>
      (1) Der Anbieter übernimmt die technische Präsentations-Eingliederung der Datenbank in die
      Plattform bzw. die technische Erstellung der Datenbank auf einer Webseite.
      </p>
      <p>
      (2) Der Nutzer hat die Möglichkeit Snippets in die Datenbank upzuloaden und zu verwalten.
      </p>
      <p>
      (3) Der Nutzer ist dafür verantwortlich, dass die von ihm etwaig gelieferten Inhalte für die Datenbank
      bzw. für die Webseite vollumfänglich frei von Rechten Dritter sind und auch aus rechtlicher Sicht für
      diese Nutzungen geeignet sind und zur Verfügung gestellt werden dürfen.
      </p>
      <p>
      (4) Der Nutzer stellt den Anbieter von sämtlichen Ansprüchen, einschließlich
      Schadensersatzansprüchen, frei, die Dritte gegen den Anbieter wegen einer Verletzung ihrer Rechte
      durch die vom Nutzer auf den Webseiten des Anbieters eingestellten Inhalte gegen den Anbieter
      geltend machen. Der Nutzer übernimmt alle den Anbieter aufgrund dieser Verletzung von Rechten
      Dritter entstehenden angemessenen Kosten, einschließlich der für die Rechtsverteidigung
      entstehenden angemessenen Kosten. Alle weitergehenden Rechte sowie Schadensersatzansprüche
      des Anbieters bleiben unberührt.
      </p>
      <p>
      (5) Der Anbieter darf die Präsentation (jegliche Texteingaben und Darstellungen) jederzeit auf deren
      Zulässigkeit prüfen bzw. prüfen lassen. Hat der Anbieter den Verdacht, dass eine Präsentation gegen
      die AGB, Geschäftspolitik der Plattform (insbesondere der Bestimmungen diese AGB),
      Gesetzesbestimmungen oder gegen Rechte Dritter verstößt, darf der Anbieter die betreffende
      Präsentation jederzeit ohne Angabe eines Grundes und ohne dass dies irgendwelche Pflichten für den
      Anbieter nach sich zieht, aus der Plattform entfernen.
      </p>
      <p>
      (6) Der Anbieter hat das Recht, Angebote und Inhalte von Anbietern technisch so zu bearbeiten,
      aufzubereiten und anzupassen, dass diese auch auf mobilen Endgeräten oder Softwareapplikationen
      von Dritten dargestellt werden können.
      </p>
    </td>
    <td>
      Making sure you don't upload copyright-infringing content is <b>your</b> responsibility. Don't put copyright-infringing things on rawcode. <br><br>
      We might check for copyright-infringing content and remove it. <br><br>
      We might modify content to make it look pretty.
      
    </td>
  </tr>
</table>



<a href="#" class="sectiona">§ 6 Sach- und Rechtsmängel, Haftung</a>
<table class="termstable">
<tr>
  <th>Legally binding</th>
  <th>English</th>
</tr>
  <tr>
    <td>
      <p>
      (1) Es gelten die gesetzlichen Vorschriften für Sach- und Rechtsmängel.
      </p>
      <p>
      (2) Für Schäden, die an anderen Rechtsgütern als dem Leben, Körper oder Gesundheit entstehen ist
      die Haftung des Anbieters gegenüber dem Nutzer ausgeschlossen, soweit die Schäden nicht auf
      vorsätzlichem oder grob fahrlässigem Verhalten des Anbieters, eines von dessen gesetzlichen
      Vertretern oder eines von dessen Erfüllungsgehilfen beruhen oder das Verhalten auch keine
      Verletzung von vertragswesentlichen Pflichten ist. Wesentliche Vertragspflichten sind solche Pflichten,
      deren Erfüllung die ordnungsgemäße Durchführung des Vertrages überhaupt erst ermöglicht und auf
      deren Einhaltung der Nutzer regelmäßig vertrauen darf.
      Die genannten Haftungsausschlüsse und Beschränkungen gelten nicht im Fall der Übernahme
      ausdrücklicher Garantien durch den Anbieter sowie bei Ansprüchen wegen fehlender zugesicherter
      Eigenschaften oder soweit Ansprüche nach dem Produkthaftungsgesetz betroffen sind.
      </p>
      <p>
      (3) Für die Wiederbeschaffung von Daten gilt, dass der Anbieter nur insoweit haftet, soweit der Nutzer
      alle erforderlichen und zumutbaren Datensicherungsvorkehrungen getroffen und sichergestellt hat,
      dass die Daten aus Datenmaterial, das in maschinenlesbarer Form bereitgehalten wird, mit
      vertretbarem Aufwand rekonstruiert werden können.
      </p>
    </td>
    <td>
      We might not be able to recover all your data in case something goes wrong on either end.
    </td>
  </tr>
</table>


<a href="#" class="sectiona">§ 7 Kündigung</a>
<table class="termstable">
<tr>
  <th>Legally binding</th>
  <th>English</th>
</tr>
  <tr>
    <td>
     <p>
      Das Vertragsverhältnis ist auf unbestimmte Dauer abgeschlossen. Es ist von beiden Seiten zu jedem
      Zeitpunkt kündbar.
      </p>
    </td>
    <td>
      There's no time-limit to using rawcode. You can stop being a member any time. <br><br>
      We might also stop you from being a member any time... <br>
      BE NICE!
    </td>
  </tr>
</table>



<a href="#" class="sectiona">§ 8 Schlussbestimmungen</a>
<table class="termstable">
<tr>
  <th>Legally binding</th>
  <th>English</th>
</tr>
  <tr>
    <td>
      (1) Sollten einzelne Bestimmungen des Vertrages mit dem Nutzer einschließlich dieser
      Nutzungsbedingungen ganz oder teilweise unwirksam sein oder werden, bleiben die Bestimmungen
      im Übrigen unberührt.
      </p>
      <p>
      (2) Die Beziehungen zwischen den Vertragsparteien regeln sich nach dem in der Bundesrepublik
      Deutschland geltenden Recht unter Ausschluss des UN- Kaufrechts (United Nations Convention on
      Contracts for the International Sale of Goods, CISG). Gegenüber einem Verbraucher gilt diese
      Rechtswahl nur insoweit, als dadurch keine zwingenden gesetzlichen Bestimmungen des Staates, in
      dem er seinen Wohnsitz oder gewöhnlichen Aufenthalt hat, eingeschränkt werden.
      </p>
      <p>
      (3) Ist der Nutzer Kaufmann, juristische Person des öffentlichen Rechts oder öffentlich-rechtliches
      Sondervermögen, ist ausschließlicher Gerichtsstand für alle Streitigkeiten aus diesem Vertrag der Sitz
      des Anbieters.
      </p>
      <p>
      (4) Die Vertragssprache ist deutsch. Die deutsche Fassung dieser Nutzungsbedingungen ist maßgeblich
      und gilt im Zweifelsfall. Die englische Version dient der Information.
      </p>
    </td>
    <td>
      Only the german stuff on the left is really legally binding. <br>
      English version is only for your information. And because we think not having an english version here kinda sucks.
    </td>
  </tr>
</table>



</section>

<% include ../_parts/footer %>
